@tailwind base;
@tailwind components;
@tailwind utilities;

/* 在全局样式中定义字体 */
@font-face {
  font-family: 'MaShanZheng';
  src: url('/font/MaShanZheng.ttf') format('truetype');
}

.text-msz {
  font-family: 'MaShanZheng', sans-serif;
}

/* 在全局样式中定义滚动条样式 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
}

/* 定义滚动条轨道的背景颜色 */
::-webkit-scrollbar-track {
  background-color: #cfd4d7;
}

/* 定义滚动条滑块的背景颜色 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #7e858c, #f3f5f5, #7e858c);
  border-radius: 6px; /* 滑块圆角 */
}

/* 鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #7e858c, #494b4c, #7e858c);
}
